h1{
    color:yellow;
  }
  
  @media (max-width:1024px){
    h1{
      color:blue;
    }
  }
  
  @media (max-width:768px){
    h1{
      color:green;
    }
  }
  @media (max-width:640px){
    h1{
      color:red;
    }
  }
  